@tailwind base;
@tailwind components;
@tailwind utilities;




nav {
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.fixed {
  backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
}

html {
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);

  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea,
select {
  font-size: 16px !important;
}

.bg-purple-50,
.dark\:bg-gray-900 {
  transition: background-color 0.3s ease;
}

@supports (backdrop-filter: blur(12px)) {
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
  }
}